/*CARDS CONTAINER*/
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  padding-bottom: 2rem;
}

/*END*/
.singleCard {
  position: relative;
  max-width: 400px;
  padding: 1rem;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  text-align: center;
  padding: 2rem;
  color: rgb(16, 16, 41);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.singleCard p {
  margin: auto;
  color: rgb(113, 113, 113);
  text-align: center;
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 1rem;
}
